
body {
	background: #cdcdcd;
	padding:0;
	margin:0;
	font-family:Helvetica Neue, Arial;
	overflow: hidden;
	display: block;
}


.slides {
	overflow: hidden;
	display: block;
	margin:0;
	padding:0;
	list-style-type: none;


	.slide {
		margin:0;
		padding:0;
		display: block;
		overflow: hidden;
		position: absolute;

		/* Improdve performance */
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
		-ms-transform: translatez(0);
		-o-transform: translatez(0);
		transform: translatez(0);

		.slide_content {
			display: block;
			width: 960px;

			h1 {
				font-size: 9em;
				line-height: 0.9em;
			}
			h2 {
				font-size: 6em;
				line-height: 0.9em;
				margin: 0.2em 0;
			}
			p,li {
				font-size: 1.5em;
			}
			li {
				list-style-type: disc;
			}

			pre {
				display: block;
				float: none;
				border: 2px solid #666;
				background: #999;
				text-align: left;
				padding: 30px;
				border-radius: 10px;
				color: #fff;
				font-size: 2em;
				height: 100px;
				overflow: auto;
			}
		}
	}

	.progress {
		width: 100%;
	}
	.progress_bar {
		text-align: right;
		display: block;
		background: rgba(0,0,0,0.1);
		color: #cdcdcd;
		position: absolute;
		bottom: 0;
		min-width: 5%;

		.progress_label {
			font-size: 10px;
			padding: 5px 20px;
		}
	}

	.progress_bar:hover {
		background: rgba(0,0,0,0.2);
	}

}