body {
  background: #cdcdcd;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Arial;
  overflow: hidden;
  display: block; }

.slides {
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .slides .slide {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    /* Improdve performance */
    -webkit-transform: translatez(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    transform: translatez(0); }
    .slides .slide .slide_content {
      display: block;
      width: 960px; }
      .slides .slide .slide_content h1 {
        font-size: 9em;
        line-height: 0.9em; }
      .slides .slide .slide_content h2 {
        font-size: 6em;
        line-height: 0.9em;
        margin: 0.2em 0; }
      .slides .slide .slide_content p, .slides .slide .slide_content li {
        font-size: 1.5em; }
      .slides .slide .slide_content li {
        list-style-type: disc; }
      .slides .slide .slide_content pre {
        display: block;
        float: none;
        border: 2px solid #666;
        background: #999;
        text-align: left;
        padding: 30px;
        border-radius: 10px;
        color: #fff;
        font-size: 2em;
        height: 100px;
        overflow: auto; }
  .slides .progress {
    width: 100%; }
  .slides .progress_bar {
    text-align: right;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    color: #cdcdcd;
    position: absolute;
    bottom: 0;
    min-width: 5%; }
    .slides .progress_bar .progress_label {
      font-size: 10px;
      padding: 5px 20px; }
  .slides .progress_bar:hover {
    background: rgba(0, 0, 0, 0.2); }
